*{
margin:0px;
padding:0px;
}
.didvmenu{
margin:auto;
width:500px;
position:relative;
left:860;
top:-47;
font-family: 'Open Sans', sans-serif;
}
ul,ol{
list-style:none;
}
.nav li a{
background-color:#000;
color:#fff;
text-decoration:none;
padding:10px 15px;
display:block;
}
.nav > li{
float:left;
}
.nav li a:hover{
background-color:#434343;
}
.nav li ul{
display:none;
position:absolute;
min-width:125px;
left:-85;
}
.nav li:hover > ul{
display:block;
}